#start-page {
  margin: 500px;
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

#quiz {
  text-align: center;
  margin: 500px;
  margin-top: 50px;
}

.buttons {
  display: block;
  width: 100%;
}

#score-board {
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

#score-p {
  text-align: center;
  justify-content: center;
  width: 100%;
}

#initialForm{
  text-align: center;
  justify-content: center;
  width: 100%;
}
